body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2 {
  color: #333;
}

#inventario, #carrito {
  margin-bottom: 20px;
}

#productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.producto, .carrito-item {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  width: calc(33.333% - 20px); 
  text-align: center;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
